{{template "header" .}}
    <div style="display: flex;">
        {{template "documents_list" .}}

        <form method="POST" action="/create/document/" class="card" style="width: 70%;margin: 12px auto;min-height: 400px;">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">作成</button>
            </div>
        </form>
    </div>
{{template "footer" .}}